.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.biz-udpgothic-regular {
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --text: #ffffff;
    --bg: #111827;
    --body-link: #4ade80;
    --main-text: #d1d5db;
    --footer-text: #9ca3af;
}

body {
    font-family: "Inter", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", "Meiryo", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

body a,
body a:visited {
    color: var(--body-link);
}

body a:hover {
    opacity: 0.8;
}

.container {
    max-width: 717px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: left;
}

header h1.name a,
header h1.name a:visited,
header h1.name a:hover,
header h1.name a:focus,
header h1.name a:link {
    color: inherit;
    text-decoration: none;
}

.nav {
    /* gap: 1rem; */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding-right: 1rem;
}

.nav li a {
    text-decoration: none;
    color: var(--body-link);
    font-weight: 600;
    transition: color 0.3s;
}

.nav li a:hover {
    color: var(--footer-text);
}

main {
    color: var(--main-text);
    margin-top: 2rem;
    margin-bottom: 7.5rem;
}

main ul {
    list-style: none;
    padding-left: 0;
}

footer {
    color: var(--footer-text);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a,
footer a:visited {
    color: var(--footer-text);
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #1f2937;
        --bg: #ffffff;
        --body-link: #16a34a;
        --main-text: #374151;
        --footer-text: #9ca3af;
    }
}
