<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuta Tokoi</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="name">
                <a href="https://yutatokoi.com">Yuta Tokoi</a>
            </h1>
        </div>
        <div class="container">
             <nav class="nav">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#writing">Writing</a></li>
                    <li><a href="#talks">Talks</a></li>
                    <li><a href="#links">Links</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <p>I'm a computer science student living in Melbourne, Australia and Tokyo, Japan.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </main>

    <script src="../static/script.js"></script>
</body>
</html>

