<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuta Tokoi</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="name">
                <a href="/">Yuta Tokoi</a>
            </h1>
        </div>
        <div class="container">
             <nav id="header-nav" class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/writing">Writing</a></li>
                    <li><a href="/talks">Talks</a></li>
                    <li><a href="/links">Links</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <p>I'm a computer science student at the University of Melbourne 🦅.</p>
            <p>Most of the year I am in Melbourne, 🇦🇺 Australia and the rest in Tokyo, 🇯🇵 Japan.</p>
            <p>When I'm not doing schoolwork, I'm likely writing software, reading, going on walks, or enjoying some music.</p>
        </div>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>

