<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Yuta Tokoi
  </title>
  <link href="/static/styles.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com" rel="preconnect"/>
  <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&amp;family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;display=swap" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="container">
    <h1 class="name">
     <a href="/">
      Yuta Tokoi
     </a>
    </h1>
   </div>
   <div class="container">
    <nav class="nav" id="header-nav">
     <ul>
      <li>
       <a href="/">
        Home
       </a>
      </li>
      <li>
       <a href="/writing">
        Writing
       </a>
      </li>
      <li>
       <a href="/talks">
        Talks
       </a>
      </li>
      <li>
       <a href="/links">
        Links
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </header>
  <main>
   <div class="container">
    <ul>
     <li>WORK IN PROGRESS. See <a href="https://zenn.dev/yutatokoi/articles/b13a7bd68897be">here</a> for the article below in the meantime.</li>
     <li>
      <a href="/static/writing/2025-01-08_ghostty/index.html">
       2024-12-30: Ghosttyでターミナルをカスタマイズ
      </a>
     </li>
    </ul>
   </div>
  </main>
  <script src="/static/script.js">
  </script>
 </body>
</html>
